/* You can add global styles to this file, and also import other style files */
html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.logofont{
	font-family: 'Pacifico', cursive;
	color: #ffffff;
	text-decoration: none;
}
.fullwidth-grid{
	width: 100%;
	display:flex;
	justify-content: center;
}
:host{
	width: 100%;
	display: block;
	position: absolute;
}
.fullwidth-grid-left{
	width: 100%;
	display:flex;
}