<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout__content">
		<div class="mdl-grid fullwidth-grid">
			<div class="mdl-cell mdl-cell--4-col"></div>
			<div class="centerbox mdl-cell mdl-cell--4-col">
				<form class="" action="">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input type="text" class="mdl-textfield__input" id="username" required>
						<label for="username" class="mdl-textfield__label">Username</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input type="email" class="mdl-textfield__input" id="email" required>
						<label for="email" class="mdl-textfield__label">Email</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input type="password" class="mdl-textfield__input" id="password" required>
						<label for="password" class="mdl-textfield__label">Password</label>
					</div>
					<div class="mdl-grid" style="justify-content: center;">
						<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Sign Up">
					</div>
					<div class="mdl-grid" style="justify-content: center;">
						<span>Already have an account? <a routerLink="/login">Login</a></span>
					</div>
				</form>
			</div>
			<div class="mdl-cell mdl-cell--4-col"></div>
		</div>
	</div>
</div>