<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<div class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Boards</button>
			<div class="mdl-layout-spacer"></div>
			<a routerLink="" class="logofont mdl-layout-title">WorkBoard</a>
			<div class="mdl-layout-spacer"></div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Profile</button>
		</div>
	</div>
	<div class="mdl-layout__content">
		<router-outlet></router-outlet>
	</div>
</div>