<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout__content">
		<div class="mdl-grid fullwidth-grid">
			<div class="homecontent mdl-cell mdl-cell--12-col">
				Welcome to Work Board
			</div>
			<div class="homecontent mdl-cell mdl-cell--12-col">
				A place to organize, priotize your work collabratively.
			</div>
			<div class="mdl-cell mdl-cell--4-col"></div>
			<div class="mdl-cell mdl-cell--2-col">
				<a routerLink="login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Login</a>
			</div>
			<div class="mdl-cell mdl-cell--2-col">
				<a routerLink="signup" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Signup</a>
			</div>
			<div class="mdl-cell mdl-cell--4-col"></div>
		</div>
	</div>
</div>